.boxx{
    background-color: aqua;
    color: rgb(59, 51, 37);
    font-size: 40px;
    border: 3px solid black;
    width: 60vw;
    height: 70vh;


}

@media only screen and (max-width: 768px) {

    .boxx{
        background-color: black;
        color: aqua;
        font-size: 30px;
        
    }

}

@media only screen and (max-width: 480px) {

    .boxx{
        background-color: blue;
        color: blueviolet;
        font-size: 20px;

    }
    
}


