:root{
    --color:rgb(20, 20, 20) ;
    --seccolor:rgb(224, 13, 111);
    --hover-color:rgb(191, 98, 158);
}

*{
    margin: 0px;
    padding: 0px;
}

.nav{
    background-color: var(--color);
    color: var(--seccolor);
    padding: 10px 20px;
    position: sticky;
    top:0px;
    
}

.nav ul{
    list-style: none;
    display: flex;
}

.nav ul li{
    padding: 15px;
    font-family: sans-serif, Verdana, Geneva, Tahoma, ;

}

.nav ul li:hover {

    background-color: var(--hover-color);

}

.StickyPositionTest{
    height: 150vh;
    border: 2px solid black;
    background-color: var(--seccolor);
}