*{
    margin: 0px;
    padding: 0px;
    
}

.b1{
    height: auto;
    min-height: 150vh;
    border:2px solid green;
    background-color: var(--color);   /* A better practice wud be to apply this .b1 to body cuz body ittself is the biggest container*/
}

.nav{
    position: sticky;
    top:0px
}

:root{
    --color:rgb(48, 196, 48);
    --cec-color:rgb(120, 214, 120);
}

ul{
    --color:rgb(17, 147, 58);
    list-style-type: none;
    background-color: var(--color);
    display:flex;
    
}

ul li {
    padding: 20px;
    font-size: 17px;
    font-family:  sans-serif;
}


.main-container{
    margin-left: 100px;
    margin-top: 20px;
    background-color:var(--cec-color);
    width: 85vw;
    height: 50vh;
    border: 2px solid black;
    display: flex;
}

.box1{
    border: 2px solid blue;
    background-color: blue;
    width:40vh;
    height: 35vh;
    margin-top: 45px;
    margin-left: 30px;
}

.box2{
    border: 2px solid rgb(39, 18, 225);
    background-color: aqua;
    width:40vh;
    height: 35vh;
    margin-top: 45px;
    margin-left: 640px;
}

.msgbox{
    border:2px solid rgb(13, 18, 2);
    background-color: var(--cec-color);
    margin-left: 180px;
    margin-top: 20px;
    border-radius: 7px;
    width: 70vw;
    height:20vh;
    text-align: center;
    line-height: 20vh;    /*to vertically align text*/
}

.last{
    width: 120vw;
    height: 15vh;
    border:2px solid green;
    position: fixed;
    left: 20px;
    background-color: var(--color);
    text-align: center;
    line-height: 15vh;
    left: 50%;
    transform: translateX(-50%); 
    
    /* If you're using position: fixed and the width is greater than 100vw (like 120vw), then centering it properly always requires left: 50% + transform: translateX(-50%) */
}

.circle{
    width: 30px;
    height: 30px;
    border: 2px solid black;
    border-radius: 50px;
    background-color: var(--cec-color);
    position: fixed;
    right: 70px;
}