.big {
  border: 4px solid black;
  background-color: black;
  min-width: 95vw;
  min-height: 40vh;
  position: relative;
}

.ball{
  border: 2px solid rgb(84, 215, 84);
  border-radius: 80px;
  background-color: rgb(84, 215, 84);
  height: 40px;
  width: 40px;
  position: absolute;
  bottom: 0;
  animation: AswabAnimation 7s linear 1s infinite alternate-reverse;
}

@keyframes AswabAnimation {
  0% {
    transform: translate(0, 0);
  }
  15% {
    transform: translate(9vw, -35vh);
  }
  25% {
    transform: translate(18vw, 0);
  }
  35% {
    transform: translate(30vw, -35vh);
  }
  45% {
    transform: translate(41vw, 0);
  }
  55% {
    transform: translate(54vw, -35vh);
  }
  65% {
    transform: translate(68vw, 0);
  }
  75% {
    transform: translate(80vw, -35vh);
  }
  88%{
    transform: translate(90vw, 0);
  }
  100% {
    transform: translate(96vw, -35vh);
  }
}